*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    letter-spacing: 1px;
}
button{
    color: white;
    background-color: black;
    padding: 13px 32px;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 1px;
}
button:hover{
    color: black;
    background-color:#00cdce;

    transition: all 0.5s ;
}
/* HEADER */
header{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(28, 32, 33, 0.8);
}
.header__content{
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content ul{
    list-style: none;
}
.header__content ul li{
    display: inline;
    margin: 0 25px;
    padding: 10px 15px;
    font-size: 1.25rem;
    font-weight: 500;
    border-bottom: 2px solid white;
    transition: all 0.5s;
}
.header__content ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}
.header__content ul .active a{
    color: #00cdce;
}
.header__content ul .active{
    border: none;
}
.header__content ul li:hover{
    border: none;
}
.header__content ul li:hover a{
    color: #00cdce;
}
.header__content p{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 20px;
}
.header__content span{
    color: #00cdce;
}


/* CAROUSEL */
.carousel{
    background-image: url("../image/b4.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    padding: 100px 0;
}
.carousel .item{
    color: white;
    text-align: center;
    width: auto auto;
    padding: 250px 0;
}
.carousel__content{
    transition: all 0.5s;
}
.carousel__content .owl-theme .owl-dots .owl-dot {
    margin-top: 50px;
    padding-top: 50px;
}

.carousel .item h2{
    font-size: 2.75rem;
}
.carousel__content .owl-theme .owl-dots .owl-dot span{
    background-color: white
}
.carousel__content .owl-theme .owl-dots .owl-dot.active span{
    background-color:gray
}
.carousel__content .owl-theme .owl-dots .owl-dot:focus{
    outline: none;
}

/* ABOUT */
.about h2{
    font-size: 3.5rem;
    text-align: center;
    padding: 50px 0;
}
.about__content{
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
}
.about__content .about__item{
    text-align: center;
    margin: 0 10px;
}
.about__content .about__item i{
    font-size: 30px;
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 50%;
}
.about__content .about__item p{
    padding: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}
.about__us{
    width: 70%;
    margin: 0 auto;
}
.about__us h3{
    color: #00cdce;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}
.about__us p{
    text-align: center;
    margin-bottom: 50px;
}

/* STATS */
.stats{
    background-color: #00cdce;
    padding: 45px 0;
}
.stats h2{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 30px;
}
.stats__content{
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
}
.stats__content .stats__item{
    padding: 20px 0;
}
.stats__content p{
    text-align: center;
    letter-spacing: 1px;
    padding: 5px 0;
}
.stats__content .num{
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
}
.stats__content .text{
    font-size: 2rem;
    font-weight: 500;
}

/* BLOG */
.blog{
    padding: 45px 0;
    width: 70%;
    margin: 0 auto;
}
.blog h2{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 30px;
}
.blog__content{

    display: flex;
    justify-content: space-around;
}
.blog__content .blog__item{
    margin: 0 10px;
    background-color: #efefef;
}
.blog__content img{
    width: 100%;
    border-top: 5px solid #00cdce;
}
.blog__content .blog__text{
    padding: 15px 10px;
    line-height: 1.5rem;
}
.blog__content .blog__text p{
    padding: 10px 0;
}
.blog__content h3{
    color: #00cdce;
    padding: 10px 0;
}
.blog__content button{
    font-size: 1.2rem;
    color: #00cdce;
    background-color: black;
    padding: 10px 15px;
    border: none;
}

/* GET MORE */
.get__more{
    display: flex;
}
.get__more .getmore__image{
    width: 45%;
    background-image: url("../image/video.jpg");
    background-size: cover;
    position: relative;
}
.get__more i{
    font-size: 2rem;
    padding: 15px;
    border: 1px solid #00cece8f;
    border-radius: 50%;
    background-color: #00ceceb4;
    color: white;

    position: absolute;
    left: 46%;
    top: 46%;
}

.getmore__text h2{
    padding: 40px 0;
    font-size: 3rem;
}
.getmore__text{
    width: 60%;
    background-color: #00cdce;
    text-align: center;
    line-height: 1.5rem;
    padding: 50px 50px;
}
.getmore__text p{
    color: white;
    padding: 50px 20px;
}
.getmore__text button{
    font-size: 1.2rem;
    color: #00cdce;
    background-color: black;
    padding: 10px 15px;
    border: none;
    margin-top: 50px;
}


/* PORTFOLIO */
.portfolio{
    width: 70%;
    margin: 50px auto;
}
.portfolio h2{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 30px;
}
.portfolio__content{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px 20px;
}
.portfolio__content img{
    width: 100%;
    display: block;
}

/* SUBCRIBE */
.subcribe{
    background-color: #00cdce;
    text-align: center;
}
.subcribe h2{
    font-size: 3.5rem;
    padding: 60px 0;
}
.subcribe p{
    color: white;
    width: 52%;
    margin: 10px auto;
    font-weight: 600;

}
.subcribe form input{
    width: 30%;
    border: none;
    padding: 10px 5px;
    margin: 20px 0;
}
.subcribe button{
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 55px;
    margin-bottom: 50px;
}

/* OUR AGENTS */
.our__agents h2{
    font-size: 3.5rem;
    padding: 60px 0;
    text-align: center;
}
.OA__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.OA__item{
    margin: 0 10px;
    width: 100%;
}
.OA__content .OA__item img{
    display: block;
    width: 100%;
}
.OA__text{
    background-color: #363636;
    width: 100%;
    text-align: center;
}
.OA__text h3{
    color: #00cdce;
    padding: 10px 0;
    padding-top: 15px;
}
.OA__text p{
    color: white;
    padding: 5px 0;
}
.OA__text i{
    color: white;
    padding: 10px;
    border: 2px solid white;
    margin: 10px 10px;
}
.maps{
    margin: 100px 0;
    border: 2px solid #00cdce;
    background-color: #bbbbbb;
    padding: 10px;
}
.maps iframe{
    width: 100%;
}

/* CONTACT */
.contact h2{
    font-size: 3.5rem;
    text-align: center;
}
.contact__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.contact__content input:focus{

        outline: none;
}
.contact__left{
    width: 100%;
}
.contact__left input{
    display: block;
    background-color: #efefef;
    border: none;
    border-bottom: 2px solid #999999 ;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
}
.contact__right{
    width: 100%;
}
.contact__right textarea{
    resize: none;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    width: 100%;
    margin-top: 20px; 
    padding: 10px;
    background-color: #efefef;
    border: none;
    border-bottom: 2px solid #999999 ;
    height: 161px;
}
.contact__right button{
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 9px 0;
}

/* FOOTER */
.footer{
    margin-top: 30px;
    background-color: #00cdce;
}
.footer__content{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

}
.footer p{
    color: white;
    text-align: center;
    padding: 20px;
}
.footer p span{
    color: red;
}
.footer__item i{
    color: white;
    padding: 10px;
    border: 2px solid white;
    margin: 5px 5px;
}

/* Back To Top */

.BackToTop{
    position: fixed;
    right: 30px;
    bottom: 30px;
    visibility: hidden;
    opacity: 0;
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }